.dropdown-menu > a:hover {
	background-color: darkgrey;
}

.picture {
	width: 350px;
	height: 200px;
}

.title {
	font-size: 18pt;
}

.comment-picture {
	width: 50px;
	height: 50px;
}

.comment-name {
	font-size: 14pt;
}

.rating {
	font-size: 12pt;
}

.profile-pic {
	width: 120px;
	height: 120px;
}

.manage-pic {
	width: 75px;
	height: 75px;
}

.m-vh-80 {
	min-height: 80vh;
}
